//Menu Button
.menu-btn {
  position: absolute; //position it where we want it to be
  z-index: 3; //close to the front
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut();

  .btn-line {
    //tiny lines that represent the menu
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: $primary-color;
    @include easeOut();
  }

  // Rotate into X with Menu Lines

  &.close {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        background-color: $orange-color;
      }
      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
        background-color: $orange-color;
      }
    }
  }
}

//Menu Overlay

.navbar-brand img {
  background-size: cover;
  border-radius: 50%;
  border: solid 1px $primary-color;
  height: 3rem;
  margin: 1rem;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    //a nested class that begins with menu and ends with -branding or -nav
    display: flex; //makes it a column
    flex-flow: column wrap; //going up and down
    align-items: center;
    justify-content: center; //vert and hori alligned to center
    float: left;
    width: 50%; //split in half
    height: 100vh;
    overflow: hidden; // no scroll bars
  }

  //Navigation side
  &-nav {
    margin: 0;
    padding: 0;
    background: rgba($turqoise-color, 0.9);
    list-style: none;
    transform: translate3d(0, -100%, 0); //takes the nav up and of the page
    @include easeOut();

    &.show {
      //slided nav down from the top
      transform: translate3d(0, 0, 0);
    }
  }

  //Branding Side
  &-branding {
    background: rgba($aqua-color, 0.9);
    transform: translate3d(0, 100%, 0); //takes the nav down and of the page

    @include easeOut();

    &.show {
      //slided nav down from the bottom
      transform: translate3d(0, 0, 0);
    }
  }
  .portrait {
    @include addPortrait(
      "https://cdn.vox-cdn.com/thumbor/9VYTZoOPQ_GAQCisPTtjPC3oJjA=/0x0:819x548/920x613/filters:focal(345x209:475x339):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/60773701/Screen_Shot_2018_08_08_at_6.54.35_PM.0.png"
    );
  }

  .nav-item {
    transform: translate3d(600px, 0, 0); //moving it off the screen to the right
    @include easeOut();

    &.show {
      //slided nav down from the right
      transform: translate3d(0, 0, 0);
    }

    &.current-item > a {
      //link in current item
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    padding: 8px 0;
    font-weight: 700;
    color: setTextColor($primary-color);
    text-decoration: none;
    @include easeOut();

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each nav item slide by 0.1s
@for $i from 1 through 7 {
  .nav-item:nth-child(#{$i}) {
    transition-delay: $i * 0.1s;
  }
}
